@font-face {
	font-family: 'Pixeboy';
	font-stretch: normal;
	src: local('Pixeboy-Regular'),
		local('Pixeboy Regular'),
			url(/fonts/Pixeboy.woff2) format('woff2'),
			url(/fonts/Pixeboy.woff) format('woff'),
			url(/fonts/Pixeboy.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}
